<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper 
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.tfriends.mapper.WeatherMapper">
	<select id="voirweather" resultType="WeatherVO">
        <![CDATA[
            SELECT
                a.`no`, a.`location`, a.`duststation`, a.`sunrise`, a.`sunset`, a.`drop`,
                a.`weather0`, a.`temp0`, a.`humid0`,
                a.`weather1`, a.`temp1`, a.`time1`, a.`drop1`,
                a.`weather2`, a.`temp2`, a.`time2`, a.`drop2`,
                a.`weather3`, a.`temp3`, a.`time3`, a.`drop3`,
                a.`weather4`, a.`temp4`, a.`time4`, a.`drop4`,
                a.`weather5`, a.`temp5`, a.`time5`, a.`drop5`,
                b.`pm10v`, b.`pm10g`,
                b.`pm25v`, b.`pm25g`
            FROM dominications AS a
            RIGHT JOIN dust_station AS b
                on a.duststation = b.name
            WHERE
        ]]>
        <if test="type == 'location'">
            a.location = #{location}
        </if>
        <if test="type == 'number'">
            WHERE a.no = #{no}
        </if>
    </select>

	<select id="counttown" resultType="int">
		SELECT COUNT(no) FROM dominications
	</select>
	<select id="locationinfo" resultType="LocationVO">
		SELECT location, locationen, lat, lon FROM dominications where no = #{no}
	</select>
	<select id="WeatherLoad" resultType="WeatherVO">
		SELECT * FROM dominications
		WHERE no = #{no}
	</select>
	<update id="weatherupdate">
		UPDATE dominications SET
			`sunrise` = #{sunrise},
			`sunset` = #{sunset},
			`drop` = #{drop},
			`weather0` = #{weather0},
			`temp0` = #{temp0},
			`humid0` = #{humid0},
			`weather1` = #{weather1},
			`temp1` = #{temp1},
			`time1` = #{time1},
			`drop1` = #{drop1},
			`weather2` = #{weather2},
			`temp2` = #{temp2},
			`time2` = #{time2},
			`drop2` = #{drop2},
			`weather3` = #{weather3},
			`temp3` = #{temp3},
			`time3` = #{time3},
			`drop3` = #{drop3},
			`weather4` = #{weather4},
			`temp4` = #{temp4},
			`time4` = #{time4},
			`drop4` = #{drop4},
			`weather5` = #{weather5},
			`temp5` = #{temp5},
			`time5` = #{time5},
			`drop5` = #{drop5}
			where location = #{location}
	</update>
	<update id="newupdate">
		UPDATE weather_${location} SET
		
		WHERE no = #{no}
	</update>

	<select id="stationno" resultType="DustStationVO">
		SELECT * FROM dust_station WHERE no = #{no}
	</select>
	<update id="stationup">
		UPDATE dust_station SET
			pm10v = #{pm10v},
			pm10g = #{pm10g},
			pm25v = #{pm25v},
			pm25g = #{pm25g}
		WHERE no = #{no}
	</update>
	<update id="migration">
		create table asanweather.weather_${locationen}
		(`no` INT(2) not NULL AUTO_INCREMENT,
		`date` BIGINT not NULL, `weather` VARCHAR(3) NOT NULL,
		`temp` DOUBLE not NULL, `humid` DOUBLE not null,
		`time` BIGINT not NULL, `drop` DOUBLE not null,
		PRIMARY KEY (`no`) USING BTREE)
	</update>
</mapper>